# CREDENCIAIS VINDI
VINDI_TOKEN_LOBO_ATIVIDADES=COLE_SEU_TOKEN_AQUI

# CREDENCIAIS OMIE
OMIE_APP_KEY=COLE_SUA_APP_KEY_AQUI
OMIE_APP_SECRET=COLE_SEU_APP_SECRET_AQUI

# CONFIGURAÇÕES
CONTA_VINDI_ID=COLE_O_ID_DA_CONTA_VINDI_NO_OMIE
EMPRESA=LOBO_ATIVIDADES

