# CREDENCIAIS VINDI
VINDI_TOKEN_LOBO_ATIVIDADES=COLE_SEU_TOKEN_AQUI

# CREDENCIAIS OMIE - LOBO ATIVIDADES
OMIE_APP_KEY=5604910395084
OMIE_APP_SECRET=bd388fb9bf27eb6b638b0daf134f6312

# CONFIGURAÇÕES
CONTA_VINDI_ID=4328092596
EMPRESA=LOBO_ATIVIDADES

